@model EtbSomalia.ViewModel.InventoryIndexViewModel;
@{
    ViewData["Title"] = "Inventory";
    int count = 0;
    double quantity = 0;
}

<style>
    a {
        cursor: pointer !important;
    }
    nav .input-field input:focus, nav .input-field input[type=text]:valid, nav .input-field input[type=password]:valid, nav .input-field input[type=email]:valid, nav .input-field input[type=url]:valid, nav .input-field input[type=date]:valid {
        border-bottom: 1px solid #9e9e9e;
    }
    td {
        padding: 10px;
    }
    a.material-icons.tiny-box {
        display: block;
        font-size: 14px;
        height: 14px;
        line-height: 1;
        cursor: pointer;
        text-decoration: none;
    }
    a.material-icons:hover {
        color: #2196F3 !important;
    }
    a:hover{
        text-decoration:none;
    }
    div.btn-floating {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    div.btn-floating i {
        font-size: 1.3em;
        line-height: 30px;
    }
    .btn-move-up {
        top: -20px;
    }
</style>

<script>
    var facl=@(Model.Active.Id)
</script>
<script src="~/js/inventory-index-script.js"></script>

<div class="col-md-3 zero-margin">
    <div id="flight-card" class="card" style="margin-bottom:0">
        <div class="card-header deep-orange accent-2">
            <div class="card-title">
                <h4 class="flight-card-title">Inventory</h4>
                <p class="flight-card-date truncate"><b>Facility/</b> @Model.Active.Name</p>
                <div class="btn-floating btn-change activator btn-move-up waves-effect waves-light gradient-45deg-light-blue-cyan z-depth-5 right">
                    <i class="material-icons">edit</i>
                </div>
            </div>
        </div>
    </div>
    <ul id="profile-page-about-details" class="collection z-depth-1 col s12 m3 l3" style="padding:0; margin-top:0">
        <li class="collection-item">
            <div class="">
                <div class="col s12">
                    <i class="material-icons left blue-text">store</i><a class="blue-text modal-trigger" data-target="station-expense-modal">Add Receipt</a>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="">
                <div class="col s12">
                    <i class="material-icons left blue-text">local_shipping</i><a class="blue-text">Transfer Drugs</a>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="">
                <div class="col s12">
                    <i class="material-icons left blue-text">local_shipping</i><a class="blue-text">Issue to Account</a>
                </div>
            </div>
        </li>
    </ul>

    <ul id="profile-page-about-details" class="collection z-depth-1 col s12 m3 l3" style="padding:0;margin-top:-10px;">
        <li class="collection-item">
            <div class="">
                <div class="col s12">
                    <i class="material-icons left black-text">event</i><a class="black-text" href="/report/inventory/movement">Drug Transactions</a>
                </div>
            </div>
        </li>
        <li class="collection-item">
            <div class="">
                <div class="col s12">
                    <i class="material-icons left black-text">attach_file</i><a class="black-text" href="/report/inventory/consumption">Consumption Report</a>
                </div>
            </div>
        </li>
    </ul>
</div>

<!--MAIN WINDOW-->
<div class="col-md-9" style="padding:0; margin-top:7px; margin-bottom:0px;">
    <nav class="navbar nav-extended">
        <div class="nav-content" style="border: 1px solid rgba(0,0,0,0.1)">
            <ul class="tabs">
                <li class="tab"><a data-loaded="1" href="#drugstock" class="active">Drug Stock</a></li>
                <li class="tab"><a data-loaded="0" href="#expired" class="active expired">Expired</a></li>
                <li class="tab"><a data-loaded="0" href="#receipts" class="active">Receipts</a></li>
                <li class="tab"><a data-loaded="0" href="#transfers" class="active">Transfers</a></li>
                <li class="tab"><a data-loaded="0" href="#issues" class="active">Issue to Account</a></li>
            </ul>

            <div id="drugstock" class="body">
                <div class="row" style="margin-top: 10px;">
                    <div class="input-field col-md-4">
                        <i class="material-icons prefix">lightbulb_outline</i>
                        <select id="stock_catg" class="modal-months">
                            <option selected value="0">All Categories</option>
                            <option value="2">MDRTB Drugs</option>
                            <option value="1">TB Drugs</option>
                            <option value="3">Pediatric Drugs</option>
                        </select>
                    </div>

                    <div class="input-field col-md-7">
                        <i class="material-icons prefix">filter_list</i>
                        <input id="stock_filter" type="text" placeholder="Filter Drugs" />
                    </div>

                    <div class="col-md-1 get-stock">
                        <a class="btn btn-floating pulse btn gradient-45deg-amber-amber right"><i class="material-icons" style="line-height: 42px">search</i></a>
                    </div>
                </div>

                <table id="stock-table" class="bordered" data-loaded="0" style="margin-top: -20px">
                    <thead>
                        <tr>
                            <th style="width:1px">#</th>
                            <th>DRUG</th>
                            <th>CATEGORY</th>
                            <th>FORMULATION</th>
                            <th>QUANTITY</th>
                            <th>REORDER</th>
                            <th>NOTES</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:0.9em">
                        @foreach (var item in Model.InventoryDrugs){
                            count++;
                            quantity += item.Available;

                            <tr>
                                <td>@count</td>
                                <td>@item.Drug.Name.ToUpper()</td>
                                <td>@item.Drug.Category.Name.ToUpper()</td>
                                <td>@item.Drug.Formulation.Name @item.Drug.Formulation.Dosage</td>
                                <td>@string.Format("{0:N0}", item.Available)</td>
                                <td>@string.Format("{0:N0}", item.Reorder)</td>
                                <td>N/A</td>
                                <td><a class="material-icons tiny-box grey-text right">border_color</a></td>
                            </tr>
                        }

                        @if (Model.InventoryDrugs.Count.Equals(0)){
                            <tr>
                                <td>&nbsp;</td>
                                <td colspan="3">NO DRUGS FOUND</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>N/A</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>&nbsp;</th>
                            <th colspan="3">SUMMARY</th>
                            <th>@string.Format("{0:N}", quantity)</th>
                            <th>&mdash;</th>
                            <th>&mdash;</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div id="expired" class="body">
                <div class="row" style="margin-top: 10px;">
                    <div class="input-field col-md-4">
                        <i class="material-icons prefix">lightbulb_outline</i>
                        <select id="expired_catg" class="modal-months">
                            <option selected value="0">All Categories</option>
                            <option value="2">MDRTB Drugs</option>
                            <option value="1">TB Drugs</option>
                            <option value="3">Pediatric Drugs</option>
                        </select>
                    </div>

                    <div class="input-field col-md-7">
                        <i class="material-icons prefix">filter_list</i>
                        <input id="expired_filter" type="text" placeholder="Filter Drugs" />
                    </div>

                    <div class="col-md-1 get-expired">
                        <a class="btn btn-floating pulse btn gradient-45deg-amber-amber right"><i class="material-icons" style="line-height: 42px">search</i></a>
                    </div>
                </div>

                <table id="expired-table" class="bordered" data-loaded="0" style="margin-top: -20px">
                    <thead>
                        <tr>
                            <th style="width:1px">#</th>
                            <th>BATCH</th>
                            <th>DRUG</th>
                            <th>COMPANY</th>
                            <th>MANUF</th>
                            <th>EXPIRY</th>
                            <th>QNTY</th>
                            <th>NOTES</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:0.9em"></tbody>
                    <tfoot></tfoot>
                </table>

            </div>

            <div id="receipts" class="body"></div>
            <div id="transfers" class="body"></div>
            <div id="issues" class="body"></div>
        </div>
    </nav>
</div>

<div style="clear:both"></div>

<div id="change-facility-modal" class="modal modal-fixed-footer" style="width: 500px">
    <div class="modal-content">
        <h4>Change Facilities</h4>
        <p>Specify the below Parameters for the Facility</p>
        <div>
            <div class="input-field">
                <i class="material-icons prefix">public</i>
                @Html.DropDownListFor(model => model.Active.Id, Model.Facilities)
                <label for="gender">Facility</label>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a class="btn modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
        <a class="btn btn-post modal-action modal-submit modal-post waves-effect waves-green btn-flats ">Change</a>
    </div>
</div>