@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@model EtbSomalia.ViewModel.HomeIndexViewModel;
@{
    ViewData["Title"] = "Home";
    ViewData["Sample"] = "[100, 50, 20, 40, 80, 50, 80, 123, 108, 70, 35, 90]";

    int count = 0;
    int role = int.Parse(HttpContextAccessor.HttpContext.User.FindFirst(System.Security.Claims.ClaimTypes.Locality).Value);
    int index = (DateTime.Now.Month - 1);

    var femalePerc = (Model.Dashboard.AllPatients == 0 ? 0 : (Model.Dashboard.Female / Model.Dashboard.AllPatients) * 100);
    var malePerc = (Model.Dashboard.AllPatients == 0 ? 0 : (Model.Dashboard.Male / Model.Dashboard.AllPatients) * 100);

    var childrenPerc = Convert.ToInt32((Model.Dashboard.AllPatients == 0 ? 0 : (Model.Dashboard.Children / Model.Dashboard.AllPatients) * 100));
    var youthPerc = Convert.ToInt32((Model.Dashboard.AllPatients == 0 ? 0 : (Model.Dashboard.Youths / Model.Dashboard.AllPatients) * 100));
    var adultsPerc = Convert.ToInt32((Model.Dashboard.AllPatients == 0 ? 0 : (Model.Dashboard.Adults / Model.Dashboard.AllPatients) * 100));
    var seniorPerc = Convert.ToInt32((Model.Dashboard.AllPatients == 0 ? 0 : (Model.Dashboard.Seniors / Model.Dashboard.AllPatients) * 100));
}

<script>
    /*  Trending line chart data (Facility Data) */
    var trendingLineChart;
    var NewCatg = @(Model.Dashboard.NewCatg);
    var Relapse = @(Model.Dashboard.Relapse);
    var Failure = @(Model.Dashboard.Failure);
    var Transfr = @(Model.Dashboard.Transfer);
    var mnths = @(index+8);

    var data = {
        labels: ["@(Model.Facilities[0].Prefix)", "@(Model.Facilities[1].Prefix)", "@(Model.Facilities[2].Prefix)", "@(Model.Facilities[3].Prefix)", "@(Model.Facilities[4].Prefix)", "@(Model.Facilities[5].Prefix)", "@(Model.Facilities[6].Prefix)", "@(Model.Facilities[7].Prefix)", "@(Model.Facilities[8].Prefix)", "@(Model.Facilities[9].Prefix)", "@(Model.Facilities[10].Prefix)", "@(Model.Facilities[11].Prefix)"],
        datasets: [{
                label: "Fuel Sales",
                fillColor: "rgba(128, 222, 234, 0.6)",
                strokeColor: "#ffffff",
                pointColor: "#00bcd4",
                pointStrokeColor: "#ffffff",
                pointHighlightFill: "#ffffff",
                pointHighlightStroke: "#ffffff",
                data: [@(Model.Facilities[0].Count), @(Model.Facilities[1].Count), @(Model.Facilities[2].Count), @(Model.Facilities[3].Count), @(Model.Facilities[4].Count), @(Model.Facilities[5].Count), @(Model.Facilities[6].Count), @(Model.Facilities[7].Count), @(Model.Facilities[8].Count), @(Model.Facilities[9].Count), @(Model.Facilities[10].Count), @(Model.Facilities[11].Count)]
            },
            {
                label: "Lube Sales",
                fillColor: "rgba(128, 222, 234, 0.3)",
                strokeColor: "#80deea",
                pointColor: "#00bcd4",
                pointStrokeColor: "#80deea",
                pointHighlightFill: "#80deea",
                pointHighlightStroke: "#80deea",
                data: [@(Model.Facilities[0].Outcomes), @(Model.Facilities[1].Outcomes), @(Model.Facilities[2].Outcomes), @(Model.Facilities[3].Outcomes), @(Model.Facilities[4].Outcomes), @(Model.Facilities[5].Outcomes), @(Model.Facilities[6].Outcomes), @(Model.Facilities[7].Outcomes), @(Model.Facilities[8].Outcomes), @(Model.Facilities[9].Outcomes), @(Model.Facilities[10].Outcomes), @(Model.Facilities[11].Outcomes)]
            }
        ]
    };

    setInterval(function() {
        // Get a random index point
        var indexToUpdate = Math.round(Math.random() * (data.labels.length - 1));
        if (typeof trendingLineChart != "undefined") {
            // Update Data Per Quarter (Then Total)
            if (trendingLineChart.datasets[0].points[indexToUpdate].value) {
                //trendingLineChart.datasets[0].points[indexToUpdate].value = Math.round(Math.random() * 100);
            }
            if (trendingLineChart.datasets[1].points[indexToUpdate].value) {
                //trendingLineChart.datasets[1].points[indexToUpdate].value = Math.round(Math.random() * 100);
            }
            trendingLineChart.update();
        }
    }, 2000);

    // Trending Bar Chart
    var MonthName = @Html.Raw(Json.Serialize(Model.Dashboard.MonthNames));
    var MonthData = @Html.Raw(Json.Serialize(Model.Dashboard.MonthValue));
    var dataBarChart = {
        labels: ["@(Model.Dashboard.MonthNames[index])", "@(Model.Dashboard.MonthNames[index+1])", "@(Model.Dashboard.MonthNames[index+2])", "@(Model.Dashboard.MonthNames[index+3])", "@(Model.Dashboard.MonthNames[index+4])", "@(Model.Dashboard.MonthNames[index+5])", "@(Model.Dashboard.MonthNames[index+6])", "@(Model.Dashboard.MonthNames[index+7])", "@(Model.Dashboard.MonthNames[index+8])"],
        datasets: [{
            label: "Bar dataset",
            fillColor: "#46BFBD",
            strokeColor: "#46BFBD",
            highlightFill: "rgba(70, 191, 189, 0.4)",
            highlightStroke: "rgba(70, 191, 189, 0.9)",
            data: [@(Model.Dashboard.MonthValue[index]), @(Model.Dashboard.MonthValue[index+1]), @(Model.Dashboard.MonthValue[index+2]), @(Model.Dashboard.MonthValue[index+3]), @(Model.Dashboard.MonthValue[index+4]), @(Model.Dashboard.MonthValue[index+5]), @(Model.Dashboard.MonthValue[index+6]), @(Model.Dashboard.MonthValue[index+7]), @(Model.Dashboard.MonthValue[index+8])]
        }]
    };

	var nReloads1 = 0;
	var min1 = 1;
	var max1 = 1;
	var l1 = 0;
	var trendingBarChart;

	function updateBarChart() {
        mnths++;
        if (mnths == 12){
            mnths = 0;
        }

		if (typeof trendingBarChart != "undefined") {
			nReloads1++;
			var x = MonthData[mnths];
			trendingBarChart.addData([x], MonthName[mnths]);
			trendingBarChart.removeData();
			l1++;
			if (l1 == dataBarChart.labels.length) {
				l1 = 0;
			}
		}
	}
	setInterval(updateBarChart, 5000); 

</script>

<script src="~/js/scripts/dashboard-analytics.js"></script>
<script src="~/js/home-index-script.js"></script>
<style>
    .collection-item .row {
        margin: 0;
    }
    .collection .collection-item {
        padding: 10px 0px;
    }
    li.collection-item.dismissable p {
        padding: 8px 0 5px 35px;
        cursor: pointer;
        font-size: 1.2em;
    }
    div.modules .card .card-content {
        padding: 5px 10px;
    }
    div.distribution {
        background: 5px 5px/100% auto no-repeat #fff url("/images/analysis-dist.png");
        padding: 0px;
        margin-bottom: 0px;
        min-height: 180px;
    }
    h4.gender-pink {
        margin-bottom: 0px;
    }
    h4.gender-blue {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    div.dist div,
    div.progress-text{
        font-size: 0.8em;
        color: #6c767c;
    }
    div.progress {
        margin: 1px;
        height: 17px;
        background-color: #a1f4ff;
        background: 0 0/auto 100% repeat-x #fff url("/images/progress-bg.jpg");
    }
    div.progress .determinate{
        background-color: #00a749;
        font-size: 0.6em;
        padding-top: 1px;
    }
    div.progress-fields{
        margin-top:2px;
    }
    div.distribution-summary{
        padding-top: 20px;
        font-size: 0.8em;
        color: #6c767c;
    }
</style>


<!--dashboard Icons-->
<div id="card-stats">
    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">add_shopping_cart</i>
                        <p>Drug Orders</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0">@string.Format("{0:N0}", Model.Dashboard.DrugsQuantity)</h5>
                        <p class="no-margin">Items</p>
                        <p>$@string.Format("{0:N2}", Model.Dashboard.DrugsCosting)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">perm_identity</i>
                        <p>Patients</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0">@string.Format("{0:N0}", Model.Dashboard.CaseNew)</h5>
                        <p class="no-margin">New</p>
                        <p>@string.Format("{0:N0}", Model.Dashboard.AllPatients)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">timeline</i>
                        <p>Case Detection</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0">@string.Format("{0:N2}", Model.Dashboard.CasePercent)%</h5>
                        <p class="no-margin">@Model.Dashboard.CaseStatus</p>
                        <p>@string.Format("{0:N0}", Model.Dashboard.CaseCurrent)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">attach_money</i>
                        <p>Expenditure</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0">@string.Format("{0:N2}", Model.Dashboard.Usage)%</h5>
                        <p class="no-margin">Budget</p>
                        <p>$@string.Format("{0:N2}", Model.Dashboard.Expenditure)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Charts Section -->
<div id="chart-dashboard" style="margin-top:-20px;">
    <div class="row">
        <!--1st Card Controller-->
        <div class="col s12 m8 l8">
            <div class="card">
                <!--Revenue/Station Sales-->
                <div class="card-move-up waves-effect waves-block waves-light">
                    <div class="move-up cyan darken-1">
                        <div>
                            <span class="chart-title white-text">Detections / Outcomes</span>
                            <div class="chart-revenue cyan darken-2 white-text">
                                <p class="chart-revenue-total">@string.Format("{0:N0}", Model.Dashboard.AllPatients)</p>
                                <p class="chart-revenue-per">
                                    <i class="material-icons">@(Model.Dashboard.CaseStatus == "Growth" ? "arrow_drop_up" : "arrow_drop_down")</i>@string.Format("{0:N2}", Model.Dashboard.CasePercent) %
                                </p>
                            </div>
                            <div class="switch chart-revenue-switch right">
                                <label class="cyan-text text-lighten-5">
                                    Quarter
                                    <input type="checkbox">
                                    <span class="lever"></span> Year
                                </label>
                            </div>
                        </div>
                        <div class="trending-line-chart-wrapper">
                            <canvas id="trending-line-chart" height="70"></canvas>
                        </div>
                    </div>
                </div>

                <!--Product Sales-->
                <div class="card-content">
                    <a class="btn-floating btn-move-up waves-effect waves-light red accent-2 z-depth-4 right">
                        <i class="material-icons activator">filter_list</i>
                    </a>
                    <div class="col s12 m3 l3">
                        <div id="doughnut-chart-wrapper">
                            <canvas id="doughnut-chart" height="200"></canvas>
                            <div class="doughnut-chart-status">
                                @string.Format("{0:N0}", Model.Dashboard.CaseCurrent)
                                <p class="ultra-small center-align">CASES</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m2 l2">
                        <ul class="doughnut-chart-legend">
                            <li class="mobile ultra-small">
                                <span class="legend-color"></span>New
                            </li>

                            <li class="home ultra-small">
                                <span class="legend-color"></span>Relapse
                            </li>

                            <li class="vpower ultra-small">
                                <span class="legend-color"></span>Failure
                            </li>

                            <li class="kitchen ultra-small">
                                <span class="legend-color"></span>Transfers
                            </li>
                        </ul>
                    </div>
                    <div class="col s12 m5 l6">
                        <div class="trending-bar-chart-wrapper">
                            <canvas id="trending-bar-chart" height="90"></canvas>
                        </div>
                    </div>
                </div>

                <!--Product Sales Table-->
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Cases Detection / Outcomes
                        <i class="material-icons right">close</i>
                    </span>
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th data-field="id">&nbsp;</th>
                                <th data-field="month">Prefix</th>
                                <th data-field="month">Centre</th>
                                <th data-field="item-sold">Sub-Recipient</th>
                                <th data-field="item-price">Cases</th>
                                <th data-field="total-profit">Outcomes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var fac in Model.Facilities) {
                                count++;

                                <tr>
                                    <td>@count</td>
                                    <td>@fac.Prefix</td>
                                    <td>@fac.Name</td>
                                    <td>@fac.Agency.Name</td>
                                    <td>@string.Format("{0:N0}", fac.Count)</td>
                                    <td>@string.Format("{0:N0}", fac.Outcomes)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--2nd Card Controller-->
        <div class="col s12 m4 l4">
            <div class="card">
                <!--Product Stats-->
                <div class="card-move-up teal accent-4 waves-effect waves-block waves-light">
                    <div class="move-up">
                        <p class="margin white-text">Category Stats</p>
                        <canvas id="trending-radar-chart" height="114"></canvas>
                    </div>
                </div>

                <!--Product Sales-->
                <div class="card-content  teal">
                    <a class="btn-floating btn-move-up waves-effect waves-light red accent-2 z-depth-4 right">
                        <i class="material-icons activator">done</i>
                    </a>
                    <div class="line-chart-wrapper">
                        <p class="margin white-text">Revenue by Products</p>
                        <canvas id="line-chart" height="114"></canvas>
                    </div>
                </div>

                <!--Card Reveal-->
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Revenue by Products
                        <i class="material-icons right">close</i>
                    </span>
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th data-field="country-name">Drug Name</th>
                                <th data-field="item-sold">Dispenses</th>
                                <th data-field="total-profit">Total Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>RH</td>
                                <td>658,080</td>
                                <td>12,345,452.55</td>
                            </tr>
                            <tr>
                                <td>RHZ</td>
                                <td>452,076</td>
                                <td>9,893,452.90</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>100,453</td>
                                <td>6,880,075.00</td>
                            </tr>
                            <tr>
                                <td>FQ</td>
                                <td>76,724</td>
                                <td>4,883,052.95</td>
                            </tr>
                            <tr>
                                <td>INH</td>
                                <td>6,502</td>
                                <td>1,002,452.00</td>
                            </tr>
                            <tr>
                                <td>OFX</td>
                                <td>601</td>
                                <td>756,452.25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Options -->
<div class="row" style="margin-top: -30px;">
    <div class="col s12 m5 l5">
        <div class="collection z-depth-1 hide-on-med-and-down distribution">
            <div class="dist col s4" style="padding-left:40px;">
                <h4 class="gender-pink bold-text">@(string.Format("{0:N1}", femalePerc))%</h4>
                <div>@(string.Format("{0:N0}", Model.Dashboard.Female)) females</div>
                <h4 class="gender-blue bold-text">@(string.Format("{0:N1}", malePerc))%</h4>
                <div>@(string.Format("{0:N0}", Model.Dashboard.Male)) males</div>
            </div>
            <div class="col s8" style="padding-top:30px">
                <div class="progress-fields">
                    <div class="col s3 progress-text right-text">Children</div>
                    <div class="col s9 zero-margin">
                        <div class="progress tooltipped" data-position="bottom" data-tooltip="@(string.Format("{0:N0}", Model.Dashboard.Children)) Children">
                            <div class="determinate center-text white-text" style="width: @(childrenPerc+"%")">@(childrenPerc)%</div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>

                <div class="progress-fields">
                    <div class="col s3 progress-text right-text">Youths</div>
                    <div class="col s9 zero-margin">
                        <div class="progress tooltipped" data-position="bottom" data-tooltip="@(string.Format("{0:N0}", Model.Dashboard.Youths)) Youth">
                            <div class="determinate center-text white-text" style="width: @(youthPerc+"%")">@(youthPerc)%</div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>

                <div class="progress-fields">
                    <div class="col s3 progress-text right-text">Adults</div>
                    <div class="col s9 zero-margin">
                        <div class="progress tooltipped" data-position="bottom" data-tooltip="@(string.Format("{0:N0}", Model.Dashboard.Adults)) Adults">
                            <div class="determinate center-text white-text" style="width: @(adultsPerc+"%")">@(adultsPerc)%</div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>

                <div class="progress-fields">
                    <div class="col s3 progress-text right-text">Seniors</div>
                    <div class="col s9 zero-margin">
                        <div class="progress tooltipped" data-position="bottom" data-tooltip="@(string.Format("{0:N0}", Model.Dashboard.Seniors)) Seniors">
                            <div class="determinate center-text white-text" style="width: @(seniorPerc+"%")">@(seniorPerc)%</div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="distribution-summary center-text">
                <b>Source:</b> Total Cases from @(Model.Dashboard.Facility) of @(Model.Dashboard.TBMUs) <a href="/patients/summary/facility" class="blue-text">@(Model.Dashboard.TBMUs == 1 ? "Facility" : "Facilities")</a> as of @(DateTime.Now.ToString("MMMM yyyy"))
            </div>
        </div>
        
        <div class="collection z-depth-1 hide-on-med-and-down" style="padding-bottom:15px; margin-bottom:0rem">
            <div class="input-field col s11">
                <i class="material-icons prefix">history</i>
                <input id="search_string" type="text" class="validate">
                <label for="search_string">Search for Patients</label>
            </div>

            <div class="col s1" style="padding:15px 0;margin-left:-10px;">
                <a class="btn-floating btn-search waves-effect waves-light gradient-45deg-purple-deep-orange gradient-shadow">
                    <i class="material-icons">search</i>
                </a>
            </div>

            <a class="card-title col blue-text" style="padding-left: 50px; line-height: 1.6rem;" href="/registration/multiple">
                <i class="material-icons left" style="margin-right: 10px;">group_add</i>
                Bulk Registration
            </a>

            <a class="card-title col blue-text" style="padding-left: 0px; line-height: 1.6rem;" href="/registration/add">
                <i class="material-icons left" style="margin-right: 10px;">person_add</i>
                New Patient
            </a>

            <a class="card-title col blue-text" style="padding-left:0px; line-height: 1.6rem;" href="/patients/active">
                <i class="material-icons left" style="margin-right: 10px;">lightbulb_outline</i>
                Active
            </a>
        </div>

        <div class="collection z-depth-1 hide-on-large-only">
            <a href="/patients/search" class="btn waves-effect waves-light gradient-45deg-light-blue-cyan" style="width:100%"><i class="material-icons">search</i>Search Patients</a>
            <a href="/patients/active" class="btn waves-effect waves-light gradient-45deg-light-blue-cyan" style="width:100%"><i class="material-icons">lightbulb_outline</i>Active Patients</a>
            <a href="/registration/add" class="btn waves-effect waves-light gradient-45deg-green-teal" style="width:100%"><i class="material-icons">group_add</i>Register Patients</a>
        </div>

        <div class="modules">
            <div class="card card-border z-depth-2 col m6 l3 zero-padding" style="width:24.25%">
              <div class="card-image">
                <a href="/pharmacy"><img src="~/images/apps/pharma.png" alt=""></a>
              </div>
              <div class="card-content center-align">
                <a class="blue-text" href="/pharmacy">Pharmacy</a>
              </div>
            </div>

            <div class="card card-border z-depth-2 col m6 l3 zero-padding" style="margin-left:1%; width:24.25%">
              <div class="card-image">
                <a href="/inventory"><img src="~/images/apps/inventory.png" alt=""></a>
              </div>
              <div class="card-content center-align">
                <a class="blue-text" href="/inventory">Inventory</a>
              </div>
            </div>

            <div class="card card-border z-depth-2 col m6 l3 zero-padding" style="margin-left:1%;width:24.25%">
              <div class="card-image">
                <a href="/transfers"><img src="~/images/apps/transfers.png" alt=""></a>
              </div>
              <div class="card-content center-align">
                <a class="blue-text" href="/transfers">Transfers</a>
              </div>
            </div>

            <div class="card card-border z-depth-2 col m6 l3 zero-padding" style="margin-left:1%;width:24.25%">
              <div class="card-image">
                <a href="/finance"><img src="~/images/apps/finance.png" alt=""></a>
              </div>
              <div class="card-content center-align">
                <a class="blue-text" href="/finance">Finance</a>
              </div>
            </div>
        </div>
    </div>

    <ul id="profile-page-about-details" class="collection z-depth-1 col s12 m3 l3" style="padding:0">
        <li class="collection-item">
            <div class="row">
                <a class="col s7 m12 l7 black-text" href="/patients/register/mdrtb">
                    <i class="material-icons left">people</i>MDR Register
                </a>
                <div class="col l5 right hide-on-med-only">Patients</div>
            </div>
        </li>

        <li class="collection-item">
            <div class="row">
                <a class="col s7 m12 l7 black-text" href="patients/register/tb">
                    <i class="material-icons left">people_outline</i>TB Register
                </a>
                <div class="col l5 right hide-on-med-only">Patients</div>
            </div>
        </li>

        <li class="collection-item">
            <div class="row">
                <a class="col s7 m12 l7 black-text" href="/patients/recent">
                    <i class="material-icons left">event</i>Recently Added
                </a>
                <div class="col l5 right hide-on-med-only">Patients</div>
            </div>
        </li>

        <li class="collection-item">
            <div class="row">
                <a class="col s7 m12 l7 black-text" href="/contacts/register">
                    <i class="material-icons left">poll</i>View Register
                </a>
                <div class="col l5 right hide-on-med-only">Contacts</div>
            </div>
        </li>

        <li class="collection-item">
            <div class="row">
                <a class="col s7 m12 l7 black-text" href="/patients/recent#contacts">
                    <i class="material-icons left">event</i>Recently Added
                </a>
                <div class="col l5 right hide-on-med-only">Contacts</div>
            </div>
        </li>

        <li class="collection-item">
            <div class="row">
                <a class="col s7 m12 l7 black-text" href="/patients/summary/national">
                    <i class="material-icons left">public</i>Data Summary
                </a>
                <div class="col l5 right hide-on-med-only">National</div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <a class="col s7 m12 l7 black-text" href="/patients/summary/regional">
                    <i class="material-icons left">share</i>Data Summary
                </a>
                <div class="col l5 right hide-on-med-only">Regional</div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <a class="col s7 m12 l7 black-text" href="/patients/summary/facility">
                    <i class="material-icons left">grain</i>Data Summary
                </a>
                <div class="col l5 right hide-on-med-only">Facility</div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <a class="col s7 m12 l7 black-text" href="/patients/summary/agency">
                    <i class="material-icons left">assignment_ind</i>Data Summary
                </a>
                <div class="col l5 right hide-on-med-only">Agency</div>
            </div>
        </li>
    </ul>

    <div class="col-md-4">
        <ul id="task-card" class="home collection with-header">
            <li class="collection-header deep-orange accent-2">
                <h4 class="task-card-title">Facility Actions</h4>
                <p class="task-card-date">@DateTime.Now.ToString("MMM dd, yyyy")</p>
            </li>
            <li class="collection-item dismissable">
                <p class="contacts" data-url="/contacts">
                    Contacts Tracing
                    <span href="#" class="secondary-content">
                        <span class="ultra-small">View</span>
                    </span>
                </p>
                <span class="task-cat cyan">MDRTB Patients</span>
            </li>

            @if (role.Equals(1) || role.Equals(2)) {
                <li class="collection-item dismissable">
                    <p class="contacts" data-url="/administrator">
                        Administrator
                        <span href="#" class="secondary-content">
                            <span class="ultra-small">View</span>
                        </span>
                    </p>
                    <span class="task-cat red accent-2">Users/Facilities/Agency/Regions</span>
                </li>
            }

            <li class="collection-item dismissable">
                <p class="contacts" data-url="/reports">
                    View Reports
                    <span href="#" class="secondary-content">
                        <span class="ultra-small">Preview All</span>
                    </span>
                </p>
                <span class="task-cat teal accent-4">System Reports</span>
            </li>

            <li class="collection-item dismissable">
                <input type="checkbox" id="task4" checked="checked" disabled="disabled" />
                <label for="task4">New Nurse</label>
                <span class="task-cat deep-orange accent-2">Mohammed Moge</span>
            </li>
        </ul>
    </div>
</div>
