@model EtbSomalia.ViewModel.PatientRegisterViewModel;

@{
    ViewData["Title"] = "Register Patient";
}

<script src="~/js/patient-register-script.js"></script>

<style type="text/css">
    .aside {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        padding: 15px 0 0;
        vertical-align: top;
        width: 100%;
    }
    ul.left-menu {
        display: inline-block;
        border: 1px solid #ccc;
        border-left: none;
    }
    ul.left-menu li {
        border-bottom: 1px solid white;
        padding: 3px 10px 0px 20px;
        min-height: 55px;
        width: 180px;
        color: #666;
        background: #eee;
        padding-bottom: 5px;
        position: relative;
        -moz-box-shadow: inset 0px -1px 0px #bbbbbb;
        -webkit-box-shadow: inset 0px -1px 0px #bbbbbb;
        box-shadow: inset 0px -1px 0px #bbbbbb;
    }
    ul.left-menu li:last-of-type {
        border-bottom: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    ul.left-menu li:hover:not(.selected) {
        color: white;
        background: #524e95;
        cursor: pointer;
    }
    ul.left-menu li:hover:not(.selected) .menu-title {
        color: white;
    }

    ul.left-menu li:hover:not(.selected) .menu-date {
        border-bottom: 1px dotted white;
    }

    ul.left-menu li .arrow-border, ul.left-menu li .arrow {
        display: none;
    }

    ul.left-menu li.selected {
        background: white;
        color: #363463;
    }
    ul.left-menu li.selected .arrow-border, ul.left-menu li.selected .arrow {
        display: block;
    }

    ul.left-menu li.selected .menu-date {
        border-bottom: 1px dotted #888;
    }
    ul.left-menu li i {
        font-size: 1.2em;
        margin: -3px;
        padding: 0px;
    }
    ul.left-menu li .menu-date {
        display: block;
        font-size: 1.25em;
        border-bottom: 1px dotted #ccc;
        padding-bottom: 7px;
    }
    ul.left-menu li .menu-title {
        line-height: 1.3em;
        display: block;
        font-size: 0.75em;
        padding-top: 7px;
    }
    ul.left-menu li .arrow-border {
        border-color: transparent transparent transparent #bbb;
        border-style: solid;
        border-right-width: 20px;
        border-left-width: 14px;
        border-bottom-width: 16px;
        border-top-width: 16px;
        height: 0;
        width: 0;
        position: absolute;
        right: -34px;
        top: 18px;
    }
    ul.left-menu li .arrow {
        border-color: transparent transparent transparent white;
        border-style: solid;
        border-right-width: 20px;
        border-left-width: 14px;
        border-bottom-width: 16px;
        border-top-width: 16px;
        height: 0;
        width: 0;
        position: absolute;
        right: -33px;
        top: 18px;
    }
    .input-field.prev {
        margin-left: 45px;
    }
    #profile-card .card-content p span {
        font-size: 0.9rem;
    }
</style>

<div class="row">
    <div class="col l3 m4 s12 zero-margin">
        <div id="profile-card" class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="~/images/gallary/11.png" alt="user bg">
            </div>

            <div class="card-content" style="padding-right: 10px">
                <img src="~/images/avatar/avatar-@(Model.Patient.Person.Gender.ToLower() == "male" ? "11" : "16").png" alt="" class="circle responsive-img activator card-profile-image grey lighten-3 padding-2">
                <a class="btn-floating activator btn-move-up waves-effect waves-light red accent-2 z-depth-5 right">
                    <i class="material-icons">edit</i>
                </a>
                <div class="card-title activator grey-text text-darken-4 truncate" style="font-size:1.4em">@Model.Patient.Person.Name</div>
                <div class="activator"><a class="grey-text text-darken-1">@Model.Patient.Person.Gender, @Model.Patient.GetAge()</a></div>
                <hr style="margin: 10px 0;" />
                <p class="truncate">
                    <i class="material-icons left">call</i>
                    <span>@Model.Patient.Person.Address.Telephone</span>
                </p>

                <p class="truncate">
                    <i class="material-icons left">mail_outline</i>
                    <span>@Model.Patient.Person.Address.Address</span>
                </p>

                <p>
                    <i class="material-icons left">event</i>
                    <span>@Model.Patient.Person.DateOfBirth.ToString("dd MMMM, yyyy")</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col l6 m8 s12">
        @using (Html.BeginForm("EnrollExistingPatient", "Patient", FormMethod.Post, new { id = "enroll-patient-form"})) {
            <div class="card-panel tab-2">
                <h3 class="header2">ENROLLMENT DETAILS</h3>
                <div class="row">
                    <div class="input-field">
                        <i class="material-icons prefix">business</i>
                        @Html.DropDownListFor(model => model.Program.Facility.Id, Model.Facilities)
                        <label>Facility Enrolled</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">event</i>
                        @Html.TextBoxFor(model => model.DateEnrolled, new { @class = "datepicker" })
                        <label>Date Enrolled</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">chrome_reader_mode</i>
                        @Html.DropDownListFor(model => model.Program.Type.Id, Model.TBTypes)
                        <label>Type of Tuberculosis</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">assignment_turned_in</i>
                        @Html.DropDownListFor(model => model.Program.Confirmation.Id, Model.TBConfirmation)
                        <label>Confirmation Type for Tuberculosis</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">swap_calls</i>
                        @Html.DropDownListFor(model => model.Program.Program.Id, Model.ResistanceProfile)
                        <label>Resistance Profile</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix">playlist_play</i>
                        @Html.DropDownListFor(model => model.Program.Category.Id, Model.TBCategory)
                        <label>Patient Category</label>
                    </div>

                    <div class="input-field post">
                        <a class="btn waves-effect waves-light gradient-45deg-light-blue-cyan gradient-shadow right">Save</a>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => model.Patient.Id)
            @Html.HiddenFor(model => model.Patient.Uuid)
        }
    </div>

    <div class="col l3 " style="padding:0;margin-top:8px;">
        <img src="~/images/tb-infographic.jpg" style="width:100%;" />
    </div>
</div>